name: medspacy

on:
  push:
    branches: [ master, develop, ci_debug ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
  
    # TODO: Do we care if this only runs on allowed branches since we check push/pull_request above?
    #if: github.ref == 'refs/heads/master' OR github.ref == 'refs/heads/develop'

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # removed 3.5 since there appears to be a failure with setuptools
        #python-version: [3.6, 3.7, 3.8] # [3.5, 3.6, 3.7, 3.8]
        #os: [ubuntu-latest, macos-latest, windows-2019]
        include:
          - name: "Ubuntu Python 3.7"
            os: ubuntu-latest
            python-version: 3.7
            addons:
              apt:
                update: true
                packages:
                  # These are the required system level updates for Ubuntu and spacy:
                  # https://spacy.io/usage#source-ubuntu
                  - build-essential
                  - python-dev
          - name: "MacOS Python 3.7"
            os: macos-latest
            python-version: 3.7
          - name: "Windows Python 3.7"
            os: windows-2019
            python-version: 3.7

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}      
    - uses: suisei-cn/actions-download-file@v1
      id: download_spacy_requirements  # Remember to give an ID if you need the output
      name: Download fixed spacy requirements file
      with:
        url: "https://raw.githubusercontent.com/medspacy/medspacy/ci_debug/spacy_requirements.txt"
        target: ./
    - name: Install dependencies      
      run: |
        python --version
        python -m pip install --upgrade pip        
        # Install our package to make sure our setup works...
        # pip install -r spacy_requirements.txt
        pip install -U pip setuptools wheel
        git clone https://github.com/explosion/spaCy
        cd spaCy
        pip install -r requirements.txt
        python setup.py build_ext --inplace
        pip install .
        # set up all spacy language models that are used in our pytest tests
        python -m spacy download de_core_news_sm
        python -m spacy download en_core_web_sm
        python -m spacy download en_core_web_md
        # install scispacy model as well to ensure compatibility
        pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_sm-0.3.0.tar.gz
        pip install flake8 pytest
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
